<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Hospital departments</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style>
            table {
                width: calc(100% - 1px);
            }
            table tr th,
            table tr td  {
                outline: #e5e7eb solid 1px;
            }
        </style>
        <link rel="icon" type="image/svg+xml" href="../../favicon.svg" />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="flex flex-col h-screen">
        <header th:insert="~{fragments/header :: header}"></header>
        <section class="mx-6 mt-4 flex justify-between h-8">
            <a
                class="bg-slate-400 text-white w-fit rounded p-1 hover:bg-slate-500"
                th:href="@{/hospital-departments/new}"
            >
                CREATE HOSPITAL DEPARTMENT
            </a>
            <form
                action="#"
                th:action="@{/hospital-departments}"
                method="GET"
                onreset="clearSearch(this)"
                onsubmit="cleanForm(this)"
                class="inline *:pr-1"
            >
                <label>
                    <span>Sort by</span>
                    <select name="sort" class="border-b py-1 focus:outline-none">
                        <option value="">-</option>
                            <option
                                value="floor"
                                th:checked="${param.sort == 'floor '? true: false}"
                            >
                                Floor
                            </option>
                            <option
                                value="box-count"
                                th:checked="${param.sort == 'box-count'? true: false}"
                            >
                            Box count
                        </option>
                    </select>
                </label>
                <label class="mr-4">
                    <span>DESC</span>
                    <input
                        type="checkbox"
                        name="desc"
                        th:checked="${param.desc != null ? false: true}"
                    >
                </label>
                <label>
                    <input
                        type="text"
                        name="name"
                        th:value="${param.name}"
                        placeholder="Name"
                        class="border-b py-1 focus:outline-none"
                    >
                </label>
                <label>
                    <input
                        type="text"
                        name="shortname"
                        th:value="${param.shortname}"
                        placeholder="Short name"
                        class="border-b py-1 focus:outline-none"
                    >
                </label>
<!--                <label>-->
<!--                    <select th:each="code: ${codes}" name="building" class="border-b py-1 focus:outline-none">-->
<!--                        <option value="">Code building</option>-->
<!--                        <option ></option>-->
<!--                        <c:forEach var="code" items="${requestScope.codes}">-->
<!--                            <option-->
<!--                                value="${code}"-->
<!--                            <c:if test="${code == param.building}">selected</c:if>-->
<!--                            >-->
<!--                            <c:out value="${code}"/>-->
<!--                            </option>-->
<!--                        </c:forEach>-->
<!--                    </select>-->
<!--                </label>-->
                <input
                    type="submit"
                    value="Search"
                    class="bg-slate-400 rounded text-white p-1 hover:bg-slate-500"
                >
                <input
                    type="reset"
                    value="Clear"
                    class="bg-slate-400 rounded text-white p-1 hover:bg-slate-500"
                >
            </form>
        </section>
        <main class="m-6 flex flex-col flex-grow overflow-y-auto">
            <table class="w-full border-collapse">
                <tr class="border *:border *:p-2 sticky top-0 bg-white z-10">
                    <th scope="col">Name</th>
                    <th scope="col">Short name</th>
                    <th scope="col">Code building</th>
                    <th scope="col">Floor</th>
                    <th scope="col">Box count</th>
                    <th scope="col" colspan="2">Actions</th>
                </tr>
                <tr th:each="department: ${departments}" class="hover:bg-slate-200 *:border *:p-2">
                    <td th:text="${department.name}" />
                    <td th:text="${department.shortName}" />
                    <td th:text="${department.codeBuilding}" />
                    <td th:text="${department.floor}" />
                    <td th:text="${department.boxCount}" />
                    <td class="text-center">
                        <form
                            action="#"
                            th:action="@{/hospital-departments/edit/{id}(id=${department.id})}"
                            th:object="${department}"
                            method="get"
                            class="inline"
                        >
                            <input
                                type="submit"
                                class="bg-green-500 text-white rounded p-1 w-full hover:bg-green-600"
                                value="UPDATE"
                            >
                        </form>
                    </td>
                    <td class="text-center">
                        <form
                            action="#"
                            th:action="@{/hospital-departments/{id}(id=${department.id})}"
                            th:method="delete"
                            class="inline delete-form"
                        >
                            <input
                                type="submit"
                                class="bg-red-500 text-white rounded p-1 w-full hover:bg-red-600"
                                onclick="return confirm('Confirm deleting')"
                                value="DELETE"
                            >
                        </form>
                    </td>
                </tr>
            </table>
        </main>
        <footer th:insert="~{fragments/footer :: footer}"></footer>
        <script>
            const cleanForm = (form) => {
                const inputs = form.querySelectorAll('input, select');
                inputs.forEach((input) => {
                    input.name = input.value ? input.name : '';
                });
            }

            const clearSearch = (form) => {
                const inputs = form.querySelectorAll('input, select');
                form.reset();
                inputs.forEach((input) => {
                    input.name = '';
                });
                form.submit();
            }
        </script>
    </body>
</html>