<div
        th:fragment="header"
        class="flex justify-between items-center bg-slate-500 text-white p-4 shadow-md sticky top-0 z-10"
>
    <div class="flex items-center space-x-4 w-1/2">
        <h1 class="text-lg font-bold">Hospital Departments Management System</h1>
        <nav class="flex space-x-4">
            <a th:href="@{/hospital-departments/}" class="hover:underline">Departments</a>
            <a th:href="@{/patients/}" class="hover:underline">Patients</a>
        </nav>
    </div>
    <a th:href="@{/login/}" class="text-sm text-gray-200 hover:text-white">Log out</a>
</div>
