<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Patients</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style>
            table {
                width: calc(100% - 1px);
            }
            table tr th,
            table tr td  {
                outline: #e5e7eb solid 1px;
            }
        </style>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script th:src="@{/js/sort-table.js}"></script>
        <script th:src="@{/js/patients-filter.js}"></script>
    </head>
    <body class="flex flex-col h-screen">
        <header th:insert="~{fragment/header :: header}"></header>
        <h1
            th:text="${department.name}"
            class="font-bold ml-6 mt-4 text-slate-400 text-xl"
        />
        <section class="mx-6 mt-4 flex h-8">
            <a
                th:href="@{/hospital-departments/__${department.id}__/patients/new}"
                sec:authorize="hasRole('ADMIN')"
                class="bg-blue-600 flex gap-1 text-white p-2 rounded-md hover:bg-blue-700 transition flex items-center"
            >
                <span>ADD PATIENT</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
                </svg>
            </a>
            <div class="flex-grow"></div>
            <form
                onreset="clearSearch(this)"
                class="inline *:pr-1 flex gap-2 items-center"
            >
                <label>
                    <input
                        type="text"
                        id="filter-name"
                        placeholder="Full name"
                        class="border-b py-1 focus:outline-none"
                    >
                </label>
                <label>
                    <input
                        type="number"
                        id="filter-age-from"
                        placeholder="Age from"
                        class="border-b py-1 focus:outline-none"
                        min="0"
                    >
                </label>
                <label>
                    <input
                        type="number"
                        id="filter-age-to"
                        placeholder="Age to"
                        class="border-b py-1 focus:outline-none"
                        min="0"
                    >
                </label>
                <label>
                    <input
                        type="datetime-local"
                        id="filter-arrival-from"
                        placeholder="Arrival from"
                        class="border-b py-1 focus:outline-none"
                    >
                </label>
                <label>
                    <input
                        type="datetime-local"
                        id="filter-arrival-to"
                        placeholder="Arrival to"
                        class="border-b py-1 focus:outline-none"
                    >
                </label>
                <label>
                    <input
                        type="number"
                        id="filter-room"
                        placeholder="Room number"
                        class="border-b py-1 focus:outline-none"
                        min="1"
                    >
                </label>
                <button
                    type="button"
                    onclick="filterTable()"
                    class="bg-blue-600 text-white p-2 rounded-md hover:bg-blue-700 transition w-8 h-8"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-4 h-4"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
                        />
                    </svg>
                </button>
                <input
                    type="reset"
                    value="Clear"
                    class="bg-slate-400 rounded text-white p-1 hover:bg-slate-500"
                >
            </form>
        </section>
        <main class="m-6 flex flex-col flex-grow overflow-y-auto">
            <table
                class="w-full border-collapse"
                id="table"
                data-sort-order="asc"
                data-sort-column=""
            >
                <thead>
                    <tr class="border *:border *:p-2 sticky top-0 bg-white z-10">
                        <th
                            scope="col"
                            onclick="sortTable(0, this)"
                            class="cursor-pointer text-left"
                        >
                            Full name <span class="sort-indicator"></span>
                        </th>
                        <th
                            scope="col"
                            onclick="sortTable(1, this)"
                            class="cursor-pointer text-left"
                        >
                            Age <span class="sort-indicator"></span>
                        </th>
                        <th
                            scope="col"
                            onclick="sortTable(2, this)"
                            class="cursor-pointer text-left"
                        >
                            Arrival time <span class="sort-indicator"></span>
                        </th>
                        <th
                            scope="col"
                            class="cursor-pointer text-left"
                        >
                            Room number
                        </th>
                        <th
                            sec:authorize="hasRole('ADMIN')"
                            scope="col"
                            colspan="2"
                        >
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${department.patients.size() == 0}">
                        <td colspan="5" class="text-center p-4 text-gray-500">
                            No patients in the department
                        </td>
                    </tr>
                    <tr th:each="patient: ${department.patients}" class="hover:shadow-lg">
                        <td
                            th:text="${patient.getFullName()}"
                            class="border p-2 w-1/6"
                        />
                        <td
                            th:text="${patient.age}"
                            class="border p-2 w-1/6"
                        />
                        <td
                            th:text="${#temporals.format(patient.arrival, 'dd.MM.yyyy HH:mm')}"
                            class="border p-2 w-1/6"
                        />
                        <td
                            th:text="${patient.room}"
                            class="border p-2 w-1/6"
                        />
                        <td
                            sec:authorize="hasRole('ADMIN')"
                            class="text-center border p-2 w-1/12"
                        >
                            <form
                                th:action="@{/hospital-departments/__${department.id}__/patients/__${patient.id}__/edit}"
                                th:object="${patient}"
                                method="get"
                                class="inline"
                            >
                                <input
                                    type="submit"
                                    value="UPDATE"
                                    class="bg-green-500 text-white rounded p-1 w-full hover:bg-green-600"
                                >
                            </form>
                        </td>
                        <td
                            sec:authorize="hasRole('ADMIN')"
                            class="text-center border p-2 w-1/12"
                        >
                            <form
                                th:action="@{/hospital-departments/__${department.id}__/patients/__${patient.id}__}"
                                th:method="delete"
                                class="inline delete-form"
                            >
                                <input
                                    type="submit"
                                    onclick="return confirm('Confirm deleting')"
                                    value="DELETE"
                                    class="bg-red-500 text-white rounded p-1 w-full hover:bg-red-600"
                                >
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
        <footer th:insert="~{fragment/footer :: footer}"></footer>
    </body>
</html>