<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Patients</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style>
            table {
                width: calc(100% - 1px);
            }
            table tr th,
            table tr td  {
                outline: #e5e7eb solid 1px;
            }
        </style>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script th:src="@{/js/sort-table.js}"></script>
        <script th:src="@{/js/patients-filter.js}"></script>
    </head>
    <body class="flex flex-col h-screen">
        <header th:insert="~{fragment/header :: header}"></header>
        <section class="mx-6 mt-4 flex justify-between h-8">
            <a
                class="bg-blue-600 text-white p-2 rounded-md hover:bg-blue-700 transition flex items-center"
                th:href="@{/patients/new}"
            >
                ADD PATIENT
            </a>
            <form
                onreset="clearSearch(this)"
                class="inline *:pr-1 flex flex-wrap gap-2 items-center"
            >
                <label>
                    <input
                        type="text"
                        id="filter-name"
                        placeholder="Full name"
                        class="border-b py-1 focus:outline-none"
                    >
                </label>
                <label>
                    <input
                        type="number"
                        id="filter-age-from"
                        placeholder="Min age"
                        class="border-b py-1 focus:outline-none"
                        min="0"
                    >
                </label>
                <label>
                    <input
                        type="number"
                        id="filter-age-to"
                        placeholder="Max age"
                        class="border-b py-1 focus:outline-none"
                        min="0"
                    >
                </label>
                <label>
                    <input
                        type="datetime-local"
                        id="filter-arrival-from"
                        placeholder="Arrival from"
                        class="border-b py-1 focus:outline-none"
                    >
                </label>
                <label>
                    <input
                        type="datetime-local"
                        id="filter-arrival-to"
                        placeholder="Arrival to"
                        class="border-b py-1 focus:outline-none"
                    >
                </label>
                <label>
                    <input
                        type="number"
                        id="filter-room"
                        placeholder="Room number"
                        class="border-b py-1 focus:outline-none"
                        min="1"
                    >
                </label>
                <input
                    type="button"
                    value="Search"
                    onclick="filterTable()"
                    class="bg-slate-400 rounded text-white p-1 hover:bg-slate-500"
                >
                <input
                    type="reset"
                    value="Clear"
                    class="bg-slate-400 rounded text-white p-1 hover:bg-slate-500"
                >
            </form>
        </section>
        <main class="m-6 flex flex-col flex-grow overflow-y-auto">
            <table
                class="w-full border-collapse"
                id="table"
                data-sort-order="asc"
                data-sort-column=""
            >
                <thead>
                    <tr class="border *:border *:p-2 sticky top-0 bg-white z-10">
                        <th
                            scope="col"
                            onclick="sortTable(0, this)"
                            class="cursor-pointer text-left"
                        >
                            Full name <span class="sort-indicator"></span>
                        </th>
                        <th
                            scope="col"
                            onclick="sortTable(1, this)"
                            class="cursor-pointer text-left"
                        >
                            Age <span class="sort-indicator"></span>
                        </th>
                        <th
                            scope="col"
                            onclick="sortTable(2, this)"
                            class="cursor-pointer text-left"
                        >
                            Arrival time <span class="sort-indicator"></span>
                        </th>
                        <th
                            scope="col"
                            class="text-left"
                        >
                            Room number
                        </th>
                        <th
                            scope="col"
                            class="text-left"
                        >
                            Department</th>
                        <th
                            scope="col"
                            colspan="2"
                        >
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${patients.size() == 0}">
                        <td colspan="6" class="text-center p-4 text-gray-500">
                            No patients in the list
                        </td>
                    </tr>
                    <tr th:each="patient: ${patients}" class="hover:shadow-lg">
                        <td
                            th:text="${patient.getFullName()}"
                            class="border p-2 w-1/6"
                        />
                        <td
                            th:text="${patient.age}"
                            class="border p-2 w-1/6"
                        />
                        <td
                            th:text="${#temporals.format(patient.arrival, 'dd.MM.yyyy HH:mm')}"
                            class="border p-2 w-1/6"
                        />
                        <td
                            th:text="${patient.room}"
                            class="border p-2 w-1/6"
                        />
                        <td
                            class="border p-2 w-1/6"
                        >
                            <a
                                th:href="@{/hospital-departments/__${patient.department.id}__/patients}"
                                th:text="${patient.department.shortName}"
                            />
                        </td>
                        <td class="text-center border p-2 w-1/12">
                            <form
                                th:action="@{/patients/__${patient.id}__/edit}"
                                th:object="${patient}"
                                method="get"
                                class="inline"
                            >
                                <input
                                    type="submit"
                                    class="bg-green-500 text-white rounded p-1 w-full hover:bg-green-600"
                                    value="UPDATE"
                                >
                            </form>
                        </td>
                        <td class="text-center border p-2 w-1/12">
                            <form
                                th:action="@{/patients/__${patient.id}__}"
                                th:method="delete"
                                class="inline delete-form"
                            >
                                <input
                                    type="submit"
                                    class="bg-red-500 text-white rounded p-1 w-full hover:bg-red-600"
                                    onclick="return confirm('Confirm deleting')"
                                    value="DELETE"
                                >
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
        <footer th:insert="~{fragment/footer :: footer}"></footer>
    </body>
</html>