<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title th:text="${patient.getFullName()}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" type="image/svg+xml" href="../../favicon.svg" />
        <script src="https://cdn.tailwindcss.com"></script>
        <style>
            .error {
                color: red;
                font-size: 0.75rem;
                line-height: 1rem;
            }
        </style>
    </head>
    <body>

    </body>
</html>